.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

.color_head:hover {
    color: #d70018
}

.cursor_point {
    cursor: pointer
}

.toast-top-right {
    right: 12px;
    top: 12px
}

#toast-container {
    display: none;
    pointer-events: none;
    position: fixed;
    z-index: 999999999;
    bottom: 20px;
    left: 10px;
    top: unset
}

    #toast-container * {
        box-sizing: border-box
    }

    #toast-container > div {
        background-position: 15px;
        background-repeat: no-repeat;
        border-radius: 3px;
        box-shadow: 0 0 12px #999;
        color: #fff;
        margin: 0 0 6px;
        overflow: hidden;
        padding: 10px;
        pointer-events: auto;
        position: relative;
        width: 350px
    }

        #toast-container > div:hover {
            box-shadow: 0 0 12px #000;
            cursor: pointer;
            -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
            filter: alpha(opacity=100);
            opacity: 1
        }

    #toast-container.toast-bottom-center > div, #toast-container.toast-top-center > div {
        margin-left: auto;
        margin-right: auto;
        width: 350px
    }

.toast.toast-error {
    background-color: #bd362f
}

.toast.toast-success {
    background-color: #51a351
}

.toast {
    align-items: center;
    background-color: #fff;
    display: flex;
    justify-content: flex-start
}

.toast-icon {
    flex: 0 0 20px
}

    .toast-icon span {
        border-radius: 50%;
        display: block;
        display: none;
        height: 20px;
        text-align: center;
        width: 20px
    }

        .toast-icon span i {
            color: #fff;
            font-size: 16px
        }

.toast-message {
    flex: 0 0 calc(100% - 20px);
    padding-left: 15px
}

.toast-message_title {
    color: #333;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 5px
}

.toast-message_content {
    font-size: 1em
}

.toast-error .toast-icon span.error, .toast-success .toast-icon span.success {
    display: block
}

.toast-close {
    cursor: pointer;
    height: 20px;
    position: absolute;
    right: 10px;
    text-align: center;
    top: 10px;
    width: 30px
}

    .toast-close i {
        color: #333;
        font-size: 16px
    }

.product_search {
    background: #fff;
    padding: 15px 0
}

.product_search__main {
    width: 100%
}

.product_search__category {
    -ms-overflow-style: -ms-autohiding-scrollbar;
    margin-bottom: 7px;
    min-height: .01%;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%
}

    .product_search__category::-webkit-scrollbar {
        background-color: #f4f4f4;
        width: 12px
    }

    .product_search__category::-webkit-scrollbar-track {
        background-color: transparent;
        -webkit-box-shadow: unset
    }

    .product_search__category::-webkit-scrollbar-thumb {
        background-color: #babac0;
        border: 7px solid #f4f4f4
    }

.product_search__category--list {
    display: table;
    display: table !important;
    height: 100%;
    margin: 0 !important;
    max-width: 100%;
    min-height: 55px;
    overflow-x: auto;
    white-space: nowrap;
    width: 100%
}

    .product_search__category--list .category-item {
        display: table-cell;
        float: none !important;
        padding: 0 3px !important;
        vertical-align: middle;
        width: auto !important
    }

        .product_search__category--list .category-item a {
            background: transparent;
            border: 1px solid #e5e7eb;
            border-radius: 10px;
            color: #444;
            display: block;
            font-size: 14px;
            font-weight: 700;
            line-height: 1.8;
            padding: 3px 6px;
            text-align: center;
            text-transform: uppercase;
            white-space: nowrap
        }

.product_search__list_product .list-products {
    display: flex;
    flex: 0 0 100%;
    flex-wrap: wrap;
    width: 100%
}

.product_search__list_product .list-products__item {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,.102),0 2px 6px 2px rgba(60,64,67,.149);
    margin: 0 5px 10px;
    max-width: calc(20% - 10px);
    padding: 5px 10px;
    position: relative;
    width: calc(20% - 10px)
}

    .product_search__list_product .list-products__item .thumbnail {
        display: flex;
        height: 245px;
        overflow: hidden;
        position: relative
    }

        .product_search__list_product .list-products__item .thumbnail img {
            height: 150px;
            margin: 0 auto;
            max-width: 100%;
            -o-object-fit: cover;
            object-fit: cover;
            transition: all .3s ease;
            width: auto
        }

    .product_search__list_product .list-products__item .detail {
        height: 150px
    }

    .product_search__list_product .list-products__item .title_name {
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        color: #4d4d4d;
        display: -webkit-box;
        font-size: 13px;
        font-weight: 600;
        height: auto;
        line-height: 1.4;
        margin-bottom: 0;
        max-height: 55px;
        overflow: hidden;
        padding: 0 0 5px;
        text-decoration: none;
        text-overflow: ellipsis;
        width: 100%
    }

.list-products__item:hover .title_name {
    color: #d70018
}

.product_search__list_product .list-products__item .ex_pricesale {
    background-color: #fff86e;
    box-shadow: 0 1px 0 0 rgba(60,64,67,.102),0 2px 3px 2px rgba(60,64,67,.149);
    color: #000;
    font-size: 13px;
    font-weight: 600;
    line-height: 22px;
    padding: 1px 10px;
    position: absolute;
    right: -6px;
    top: 6px
}

    .product_search__list_product .list-products__item .ex_pricesale:after {
        border-right: 7px solid transparent;
        border-top: 4px solid #d5ca00;
        bottom: -4px;
        content: "";
        display: block;
        height: 0;
        position: absolute;
        right: -1px;
        width: 0
    }

.product_search__list_product .list-products__item .price {
    display: flex;
    font-size: 14px;
    font-weight: 700;
    width: 100%
}

    .product_search__list_product .list-products__item .price .old-price {
        color: #9e9e9e;
        font-size: 12px;
        font-weight: 400;
        text-decoration-color: #9e9e9e
    }

    .product_search__list_product .list-products__item .price .new-price {
        color: #e10c00;
        margin-right: 20px;
        text-decoration: none
    }

.product_search__list_product .list-products__item .ex_rating {
    font-size: 11px;
    margin: 5px 0
}

.product_search .detail__paginate {
    background: transparent;
    padding: 10px;
    text-align: center
}

    .product_search .detail__paginate .viewmore span {
        background: red;
        border: 0;
        border-radius: 15px;
        color: #fff;
        display: inline-block;
        font-size: 16px;
        font-weight: 700;
        margin: 0 auto 5px;
        padding: 10px;
        text-decoration: none;
        text-transform: capitalize;
        width: 25%
    }

        .product_search .detail__paginate .viewmore span:hover {
            border-color: transparent;
            color: #000
        }

.product_search .not_product {
    word-wrap: break-word;
    align-items: center;
    background-color: #fff;
    border: 1px solid #c21d32;
    border-radius: 4px;
    color: #515151;
    display: flex;
    font-size: 13px;
    list-style: none outside;
    margin: 0 0 15px;
    padding: .5em 15px .5em 3.5em;
    position: relative;
    width: auto
}

    .product_search .not_product svg {
        fill: #1e85be;
        height: 20px;
        margin-right: 20px;
        width: 14px
    }

/*.form {
    background: #111;
    margin: 0 auto;
    padding: 18px 40px;
    width: 70%
}
*/
    .form .form-component {
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 10px 20px
    }

    .form .form-title__title {
        color: #fff;
        font-size: 24px;
        font-weight: 700;
        text-transform: uppercase
    }

    .form .form-content {
        margin-top: 15px
    }

    .form .form-group {
        margin-bottom: 15px;
        display:flex;
        justify-content : center;
    }

    .form .form-content button {
        margin-top: 15px
    }

    .form .form-control {
        border: 1px solid #ddd;
        border-radius: 5px;
        font-size: 12px;
        padding: 6px;
        width: 45%
    }

    .form .btn {
        background-color: rgba(223,29,29,.961);
        border: none;
        border-radius: 5px;
        color: #fff;
        cursor: pointer;
        padding: 10px 20px;
        width: 100%
    }

        .form .btn:hover {
            background-color: rgba(103,15,15,.961)
        }

#register-message .alert {
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    margin-bottom: 15px;
    padding: 10px;
    text-align: center
}

#register-message .alert-success {
    background: green;
    color: #ebccd1
}

#register-message .alert-danger {
    background-color: rgba(223,29,29,.961);
    color: #ebccd1
}

.banner_frame {
    margin: 0 auto;
    width: 100%
}

    .banner_frame .gift_content .banner_gift {
        margin: 20px 0;
        max-width: 100%;
        position: relative
    }

        .banner_frame .gift_content .banner_gift img {
            max-width: 100%;
            -o-object-fit: cover;
            object-fit: cover;
            width: auto
        }

    .banner_frame .banner_product .product_list {
        flex-wrap: wrap;
        justify-content: start;
        width: 100%
    }

    .banner_frame .banner_product .product_item {
        background: #fff;
        border-radius: 10px;
        box-shadow: 0 1px 2px 0 rgba(60,64,67,.102),0 2px 6px 2px rgba(60,64,67,.149);
        margin: 0 5px 10px;
        max-width: calc(20% - 10px);
        min-height: 310px;
        padding: 5px 10px;
        position: relative;
        width: calc(20% - 10px)
    }

        .banner_frame .banner_product .product_item .thumb {
            display: flex;
            overflow: hidden;
            position: relative
        }

            .banner_frame .banner_product .product_item .thumb img {
                height: 150px;
                margin: 0 auto;
                max-width: 100%;
                -o-object-fit: cover;
                object-fit: cover;
                transition: all .3s ease;
                width: auto
            }

        .banner_frame .banner_product .product_item .title_name {
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            color: #4d4d4d;
            display: -webkit-box;
            font-size: 13px;
            font-weight: 600;
            height: auto;
            line-height: 1.4;
            margin-bottom: 0;
            max-height: 55px;
            overflow: hidden;
            padding: 0 0 5px;
            text-decoration: none;
            text-overflow: ellipsis;
            width: 100%
        }

        .banner_frame .banner_product .product_item .price {
            display: flex;
            font-size: 14px;
            font-weight: 700;
            justify-content: space-between;
            width: 100%
        }

            .banner_frame .banner_product .product_item .price .old-price {
                color: #9e9e9e;
                font-size: 12px;
                font-weight: 400;
                text-decoration-color: #9e9e9e
            }

            .banner_frame .banner_product .product_item .price .new-price {
                color: #e10c00;
                text-decoration: none
            }

        .banner_frame .banner_product .product_item .btn_order {
            bottom: 10px;
            left: 10px;
            margin-top: 5px;
            position: absolute
        }

            .banner_frame .banner_product .product_item .btn_order span {
                background: #e10c00;
                border-radius: 5px;
                color: #fff;
                display: inline-block;
                padding: 5px 10px
            }

    .banner_frame .order_promotion .promtion_tilte {
        align-items: center;
        justify-content: center
    }

        .banner_frame .order_promotion .promtion_tilte p {
            color: #fff;
            font-weight: 700;
            margin-bottom: 0;
            text-transform: uppercase;
            width: auto
        }

        .banner_frame .order_promotion .promtion_tilte .btn_view {
            background: #ffca3f;
            border-radius: 5px;
            color: #d00;
            cursor: pointer;
            font-size: 16px;
            margin-left: 20px;
            padding: 5px 10px;
            text-transform: uppercase
        }

    .banner_frame .order_promotion .promotion_content {
        background-color: #d00;
        padding: 20px 0;
        position: relative
    }

    .banner_frame .order_promotion .promotion_product {
        padding: 10px 0
    }

    .banner_frame .product_old {
        padding: 20px 0
    }

    .banner_frame .product_old__tilte {
        display: flex;
        justify-content: center;
        margin-bottom: 10px
    }

        .banner_frame .product_old__tilte p {
            color: #f44336;
            font-size: 16px;
            font-weight: 700;
            text-transform: uppercase
        }

    .banner_frame .mini_game {
        position: relative
    }

    .banner_frame .mini_game__banner {
        border-radius: 10px;
        box-shadow: 0 1px 2px 0 rgba(60,64,67,.102),0 2px 6px 2px rgba(60,64,67,.149);
        overflow: hidden
    }

        .banner_frame .mini_game__banner img {
            max-width: 100%;
            -o-object-fit: cover;
            object-fit: cover;
            width: auto
        }

    .banner_frame .mini_game__button {
        bottom: 20px;
        position: absolute;
        right: 20px
    }

        .banner_frame .mini_game__button .button_item {
            background: #e2db02;
            border-radius: 20px;
            color: #000;
            cursor: pointer;
            font-size: 16px;
            padding: 10px 20px
        }

        .banner_frame .mini_game__button .rule_view {
            margin-right: 10px
        }

    .banner_frame .popup_mini, .banner_frame .promotion_detail {
        background-color: #fff;
        border-radius: 4px;
        box-shadow: 0 0 10px rgba(0,0,0,.5);
        display: none;
        left: 0;
        margin-top: 5px;
        padding: 10px;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 9999
    }

    .banner_frame .popup-backdrop {
        background-color: rgba(0,0,0,.5);
        bottom: 0;
        display: none;
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 999
    }

.tab-content {
    border-top: none;
    margin-bottom: 20px
}

.tab-container {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 10px 0
}

    .tab-container .tab-button {
        background-color: #111;
        border: none;
        border-radius: 5px;
        color: #fff;
        cursor: pointer;
        font-size: 16px;
        margin-right: 20px;
        padding: 10px 20px;
        text-transform: uppercase
    }

        .tab-container .tab-button:last-child {
            margin-right: 0
        }

    .tab-container .active {
        border-bottom: none;
        color: #f44336
    }

    .tab-container .button {
        background-color: #f44336;
        border: none;
        color: #fff;
        cursor: pointer;
        font-size: 16px;
        padding: 10px 20px
    }

* {
    box-sizing: border-box;
    margin: 0;
    outline: none;
    padding: 0
}

img {
    height: auto;
    max-width: 100%;
    -o-object-fit: cover;
    object-fit: cover
}

body {
    background: #fff;
    font-family: Arial;
    font-size: 13px;
    overflow: auto;
    font-weight: 400;
    font-style: normal;
    position: relative
}

ul {
    list-style: none;
    margin: 0
}

a {
    color: #212529;
    text-decoration: none;
    transition: .3s
}

    a:hover {
        color: #d70018
    }

b {
    font-weight: 700
}

h1, h2, h3, h4, p, span {
    color: #212529
}

h1, h2, h3, h4 {
    font-weight: 600
}

p {
    line-height: 28px
}

input {
    padding: 0 10px
}

.main {
    background: #fff
}

.title_box {
    transition: .3s
}

    .title_box:hover {
        text-decoration-line: underline
    }

button {
    transition: .3s
}

    button, button:hover {
        /*background: #d00*/
    }

.loading_overlay {
    background: rgba(0,0,0,.4);
    height: 100%;
    opacity: 0;
    position: fixed;
    top: 0;
    transition: all .3s;
    visibility: hidden;
    width: 100%;
    z-index: 10
}

    .loading_overlay.active {
        opacity: 1;
        visibility: visible
    }

#loading_box {
    background: hsla(0,0%,100%,.5);
    bottom: 0;
    height: 100%;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
    width: 100%;
    z-index: 100000
}

#loading_image {
    background: url(/assets/img/loadding.gif) no-repeat 50%;
    background-size: 100px;
    height: 100%;
    width: 100%
}

.loading {
    position: relative;
    transition: .2s
}

    .loading:after, .loading:before {
        bottom: 0;
        content: "";
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 100000
    }

    .loading:before {
        background: rgba(0,0,0,.6);
        height: 100%;
        width: 100%
    }

    .loading:after {
        background: url(/assets/img/loadding.gif) no-repeat 50%;
        background-size: 100px
    }

.err_show {
    color: red !important;
    display: none !important;
    font-size: 12px !important;
    padding-top: 5px
}

    .err_show.news {
        clear: both;
        float: right;
        margin-bottom: 0;
        text-align: center
    }

    .err_show.active {
        display: block !important
    }

.font-normal {
    font-weight: 400
}

.fixed {
    background-color: rgba(0,0,0,.4);
    bottom: 0;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    transition: all .5s;
    visibility: hidden;
    z-index: 99998
}

    .fixed.active {
        opacity: 1;
        visibility: visible
    }

.btn {
    border-radius: 5px;
    display: inline-block;
    transition: .5s
}

    .btn, .btn:hover {
        background: #d00
    }

.flex {
    align-items: center;
    display: flex
}

.mb-10 {
    margin-bottom: 10px
}

.pdl0 {
    padding-left: 0 !important
}

.pdr0 {
    padding-right: 0 !important
}

.pdt0 {
    padding-top: 0 !important
}

.pdb0 {
    padding-bottom: 0 !important
}

.pdl5 {
    padding-left: 5px !important
}

.pdr5 {
    padding-right: 5px !important
}

.pdt5 {
    padding-top: 5px !important
}

.pdb5 {
    padding-bottom: 5px !important
}

.pdl10 {
    padding-left: 10px !important
}

.pdr10 {
    padding-right: 10px !important
}

.pdt10 {
    padding-top: 10px !important
}

.pdb10 {
    padding-bottom: 10px !important
}

.pdl15 {
    padding-left: 15px !important
}

.pdr15 {
    padding-right: 15px !important
}

.pdt15 {
    padding-top: 15px !important
}

.pdb15 {
    padding-bottom: 15px !important
}

.pdl20 {
    padding-left: 20px !important
}

.pdr20 {
    padding-right: 20px !important
}

.pdt20 {
    padding-top: 20px !important
}

.pdb20 {
    padding-bottom: 20px !important
}

.pdl30 {
    padding-left: 30px !important
}

.pdr30 {
    padding-right: 30px !important
}

.pdt30 {
    padding-top: 30px !important
}

.pdb30 {
    padding-bottom: 30px !important
}

.pd0 {
    padding: 0 !important
}

.pd5 {
    padding: 5px !important
}

.pd10 {
    padding: 10px !important
}

.pd15 {
    padding: 15px !important
}

.pd20 {
    padding: 20px !important
}

.mgt0 {
    margin-top: 0 !important
}

.mgl0 {
    margin-left: 0 !important
}

.mgr0 {
    margin-right: 0 !important
}

.mgb0 {
    margin-bottom: 0 !important
}

.mgt5 {
    margin-top: 5px !important
}

.mgl5 {
    margin-left: 5px !important
}

.mgr5 {
    margin-right: 5px !important
}

.mgb5 {
    margin-bottom: 5px !important
}

.mgt10 {
    margin-top: 10px !important
}

.mgl10 {
    margin-left: 10px !important
}

.mgr10 {
    margin-right: 10px !important
}

.mgb10 {
    margin-bottom: 10px !important
}

.mgt15 {
    margin-top: 15px !important
}

.mgl15 {
    margin-left: 15px !important
}

.mgr15 {
    margin-right: 15px !important
}

.mgb15 {
    margin-bottom: 15px !important
}

.mgt20 {
    margin-top: 20px !important
}

.mgl20 {
    margin-left: 20px !important
}

.mgr20 {
    margin-right: 20px !important
}

.mgb20 {
    margin-bottom: 20px !important
}

.mgt30 {
    margin-top: 30px !important
}

.mgl30 {
    margin-left: 30px !important
}

.mgr30 {
    margin-right: 30px !important
}

.mgb30 {
    margin-bottom: 30px !important
}

.fs-13 {
    font-size: 13px
}

.hidden_more {
    display: none !important
}

.text-up {
    text-transform: uppercase
}

.justify-end {
    justify-content: flex-end
}

.justify-space-between {
    justify-content: space-between
}

.header {
    background-color: #d00;
    height: 65px;
    position: sticky;
    top: 0;
    transition: all .3s;
    width: 100%;
    z-index: 888
}

.header-top {
    display: flex;
    height: 65px;
    padding: 0
}

    .header-top .container {
        align-items: center;
        justify-content: space-between
    }

    .header-top .logo {
        align-items: center;
        display: flex;
        max-width: 260px;
        width: 100%
    }

        .header-top .logo a {
            display: block;
            line-height: 0
        }

            .header-top .logo a img {
                display: block;
                height: auto;
                height: 64px;
                max-width: 245px;
                -o-object-fit: contain;
                object-fit: contain
            }

    .header-top .search {
        max-width: calc(100% - 910px);
        min-width: 150px;
        padding: 0 10px;
        position: relative;
        width: 100%
    }

        .header-top .search form {
            background-color: #fff;
            border-radius: 10px;
            position: relative
        }

            .header-top .search form button, .header-top .search form input {
                background-color: transparent;
                border: 0
            }

            .header-top .search form input {
                border: none;
                border-radius: 10px;
                font-size: 16px;
                height: 35px;
                padding: 5px 47px 5px 12px;
                transition: border-color .2s ease-in-out;
                width: 100%
            }

                .header-top .search form input::-moz-placeholder {
                    color: #212529;
                    opacity: .6
                }

                .header-top .search form input::placeholder {
                    color: #212529;
                    opacity: .6
                }

                .header-top .search form input:focus {
                    border-color: #212529;
                    margin: 1px;
                    outline: 0
                }

            .header-top .search form button {
                cursor: pointer;
                line-height: 0;
                position: absolute;
                right: 10px;
                top: 50%;
                transform: translateY(-50%)
            }

                .header-top .search form button img {
                    height: 20px;
                    width: 20px
                }

    .header-top .location-switch {
        background: #ff5050;
        border-radius: 7px;
        color: #fff;
        cursor: pointer;
        font-size: 13px;
        margin: 0;
        padding: 3px 5px 3px 5px;
        width: 110px;
        position: relative
    }

        .header-top .location-switch .current-location {
            align-items: center;
            display: flex
        }

            .header-top .location-switch .current-location .location-icon {
                color: #ff5050
            }

            .header-top .location-switch .current-location .location-text {
                color: #ffe45f;
                display: block;
                font-size: 11px;
                font-weight: 500;
                text-align: center;
                width: 100%
            }

            .header-top .location-switch .current-location svg {
                fill: #fff;
                font-size: 29px;
                height: 25px;
                left: 0;
                position: absolute;
                top: 2px;
                width: 25px
            }

        .header-top .location-switch .location-select-wrapper {
            align-items: center;
            display: flex;
            flex-direction: column;
            position: relative;
            padding-left: 12px
        }

            .header-top .location-switch .location-select-wrapper .my_location {
                background: transparent;
                border: none;
                border-radius: 7px;
                color: #fff;
                font-size: 11px;
                line-height: 14px;
                margin-left: 0;
                margin-top: 3px;
                white-space: nowrap;
                overflow: hidden;
                width: 60px;
                text-overflow: ellipsis
            }

            .header-top .location-switch .location-select-wrapper .location-select {
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                background: transparent;
                border: 0;
                color: transparent;
                cursor: pointer;
                height: 35px;
                outline: 0;
                position: absolute;
                text-align: center;
                width: 85%
            }

                .header-top .location-switch .location-select-wrapper .location-select option {
                    color: #111;
                    font-size: 13px
                }

    .header-top .info_website {
        display: flex;
        justify-content: space-between;
        max-width: 495px;
        width: 100%
    }

        .header-top .info_website .hotline {
            width: 180px !important
        }

    .header-top .info_website_icon svg {
        stroke: #fff;
        height: 16px;
        width: 16px
    }

    .header-top .info_website_item {
        align-items: center;
        display: inline-flex;
        flex-flow: column;
        justify-content: center;
        margin: 0 2.5px;
        width: calc(33.33333% - 5px)
    }

        .header-top .info_website_item a {
            align-items: center;
            border-radius: 7px;
            color: #fadede ;
            display: flex;
            font-size: 12px;
            line-height: 1.2;
            padding: 6.5px 5px
        }

            .header-top .info_website_item a:hover {
                background: #ff5050 !important
            }

            .header-top .info_website_item a span {
                color: #fff;
                font-weight: 600
            }

    .header-top .info_website_icon {
        align-items: center;
        border: 1px solid #fff;
        border-radius: 4px;
        display: flex;
        height: 25px;
        justify-content: center;
        margin-right: 7px;
        position: relative;
        width: 28px
    }

    .header-top .info_website .cart .cart_counter {
        color: #fff;
        font-size: 10px;
        position: absolute;
        right: 10px;
        top: 9px
    }

@media(max-width:1365px) {
    .header-top .logo {
        max-width: 25%
    }

    .header-top .search {
        max-width: 33%
    }

    .header-top .info_website {
        max-width: 25%
    }

    .header-top .info_website_item {
        width: 48%
    }

    .header-top .info_website .cart, .header-top .info_website .hotline {
        display: none
    }

    .policy span {
        font-size: 11px
    }
}

.header-breadcrumb {
    background-color: #870000;
    height: 38px;
}

    .header-breadcrumb .container {
        position: relative
    }

.header-breadcrumb__icon {
    cursor: pointer;
    display: block;
    line-height: 0;
    margin-right: 15px
}

    .header-breadcrumb__icon svg {
        height: 32px;
        width: 32px
    }

.header-breadcrumb__list {
    align-items: center;
    display: flex
}

.header-breadcrumb__item {
    height: 100%;
    margin-right: 20px;
    position: relative
}

    .header-breadcrumb__item:after {
        bottom: 7px;
        color: #fff;
        content: "»";
        line-height: normal;
        position: absolute;
        right: -14px
    }

    .header-breadcrumb__item:last-child {
        margin-right: 0
    }

        .header-breadcrumb__item:last-child:after {
            display: none
        }

    .header-breadcrumb__item svg {
        margin-right: 5px;
        vertical-align: text-top
    }

        .header-breadcrumb__item svg path {
            fill: #fff
        }

    .header-breadcrumb__item a, .header-breadcrumb__item h1, .header-breadcrumb__item p {
        align-items: center;
        display: flex;
        font-weight: 400;
        height: 100%
    }

    .header-breadcrumb__item a, .header-breadcrumb__item p, .header-breadcrumb__item span {
        color: #fff !important;
        font-size: 13px
    }

.header-breadcrumb .menu-category {
    height: auto;
    max-height: unset;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 100%;
    transition: all .5s;
    visibility: hidden
}

.header-breadcrumb.active .menu-category {
    opacity: 1;
    pointer-events: unset;
    visibility: visible
}

.menu-category {
    background-color: transparent;
    border-radius: 10px;
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    opacity: 1;
    overflow: auto;
    visibility: visible;
    width: 100%;
    z-index: 99
}

.menu-category__list {
    background-color: #fff;
    border-radius: 10px;
    max-width: 220px;
    width: 100%;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,.102),0 2px 6px 2px rgba(60,64,67,.149)
}

.menu-category__item {
    background: transparent;
    color: #333;
    display: block;
    flex-grow: 1;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    text-align: left
}

    .menu-category__item:last-child {
        border-radius: 10px 10px 0 0;
        margin-right: 0
    }

    .menu-category__item:first-child:hover {
        border-radius: 10px 10px 0 0
    }

    .menu-category__item:hover {
        background: #f5f5f5;
        border-color: #fff;
        color: #222;
        text-decoration: none
    }

        .menu-category__item:hover .menu-category__child {
            opacity: 1;
            visibility: visible
        }

.menu-category__link {
    align-items: center;
    display: block;
    display: flex;
    padding: 0 10px;
    position: relative
}

    .menu-category__link img {
        margin-right: 8px
    }

    .menu-category__link.is_has_child:before {
        background-image: url(/assets/img/icon/arrow.svg);
        background-repeat: no-repeat;
        content: "";
        height: 10px;
        position: absolute;
        right: 5px;
        top: 15px;
        width: 8px
    }

.menu-category__child {
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,.1);
    display: flex;
    flex-wrap: wrap;
    height: auto;
    left: 223px;
    min-height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    visibility: hidden;
    width: calc(100% - 300px);
    z-index: 999
}

    .menu-category__child:after {
        background: transparent;
        content: "";
        height: 100%;
        left: -10px;
        position: absolute;
        width: 10px
    }

.menu-category__child-item {
    margin: 10px
}

    .menu-category__child-item a, .menu-category__child-item span {
        background: #fff;
        color: #666;
        display: block;
        font-size: 13px;
        font-weight: 600;
        line-height: 35px;
        padding: 0 10px
    }

    .menu-category__child-item .menu-child a {
        font-weight: 400
    }

        .menu-category__child-item .menu-child a:hover {
            background: transparent;
            color: #c21d32;
            font-weight: 400;
            text-decoration: none
        }

.header .search .suggest-search {
    background: #fff;
    border-radius: 8px;
    left: 0;
    max-width: 396px;
    position: absolute;
    top: 50px;
    width: 100vw;
    z-index: 31;
    opacity: 0;
    visibility: hidden
}
.suggest-search {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 300px;
    border-radius: 10px;
    box-sizing: border-box;
}
