@{
    Layout = null;
    var mess = TempData["StatusMessage"] as string;
    int? status = ViewBag.check;
    bool? signupSuccess = TempData["SignupSuccess"] as bool?;
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.3/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://code.jquery.com/ui/1.13.3/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#datepicker").datepicker();
        });
    </script>



    <link href="~/css/Register/Style.css"
          rel="stylesheet"
          type="text/css" />
</head>
<body>
    <div class="container">
        <div class="login-form">
            <div class="login-bg">
                <img src="https://hoanghamobile.com/Content/web/img/login-bg.png" />
            </div>

            <div class="form">
                <div class="center" style="text-align: center; margin-bottom: 10px">
                    <h1>Đăng ký tài khoản</h1>
                </div>

                <div id="registerForm" class="hh-form">

                    <div class="login-wrapper">

                        <form asp-action="CompleteRegisterGoogle" method="post">

                            <div class="form-controls">
                                <label for="Phone" class="sr-only">Số điện thoại</label>
                                <div class="controls">
                                    <input type="text" name="users.Phone" zz required />
                                </div>
                            </div>

                            <div class="form-controls">
                                <label for="Gender" class="sr-only">Giới tính</label>
                                <div class="controls">
                                    <label class="radio-ctn">
                                        <input type="radio" name="users.Gender" required value="true" />
                                        <span class="checkmark"></span>
                                        <span><strong>Nam</strong></span>
                                    </label>

                                    <label class="radio-ctn">
                                        <input type="radio" name="users.Gender" required value="false" />
                                        <span class="checkmark"></span>
                                        <span><strong>Nữ</strong></span>
                                    </label>
                                </div>
                            </div>
                            <div class="form-controls">
                                <label for="Dob" class="sr-only">Ngày sinh</label>
                                <div class="controls">
                                    <input type="text" id="datepicker" style="width: 350px;" name="users.Dob" required />
                                </div>
                            </div>

                            <div class="form-controls">
                                <label>Tỉnh/Thành phố:</label>
                                <div class="controls">
                                    <select name="SystemCityID"
                                            id="SystemCityID"
                                            placeholder="Tỉnh/Thành phố">
                                        <option value=""> </option>

                                    </select>
                                    <input type="hidden" name="tinh" value="" />
                                </div>
                            </div>
                            <div class="form-controls">
                                <label>Quận/Huyện:</label>
                                <div class="controls">
                                    <select id="SystemDistrictID"
                                            name="SystemDistrictID"
                                            placeholder="Quận/Huyện *"
                                            data-required="1">
                                        <option value=""> </option>
                                    </select>
                                    <input type="hidden" name="huyen" value="" />
                                </div>
                            </div>
                            <div class="form-controls">
                                <label>Xã/Phường:</label>
                                <div class="controls">
                                    <select id="SystemCommuneID"
                                            name="SystemCommuneID"
                                            placeholder="Xã/Phường*"
                                            data-required="1">
                                        <option value=""> </option>
                                    </select>
                                    <input type="hidden" name="xa" value="" />
                                </div>
                            </div>
                            <div class="form-controls">
                                <div class="controls submit-controls" style="margin-top: 10px">
                                    <button style="background: rgb(1, 114, 71); font-size: medium" type="submit">
                                        Xác Nhận
                                    </button>
                                </div>
                            </div>
                            <br />

                        </form>

                    </div>
                </div>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
                integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
                crossorigin="anonymous"
                referrerpolicy="no-referrer"></script>


        <script src="https://hoanghamobile.com/Content/web/js/plugins/jquery-datepicker/datepicker.min.js"></script>
        <link href="https://hoanghamobile.com/Content/web/js/plugins/jquery-datepicker/datepicker.min.css"
              rel="stylesheet" />
        <script type="text/javascript">
            $(document).ready(function () {
                init_cityChange();
                $("#UserBirthDate").datepicker({ format: "dd/mm/yyyy" });
            });
        </script>

        <script type="text/javascript">
            $(document).ready(function () {
                showPopup(349);
            });
        </script>
        <script type="text/javascript">
            $(document).ready(function () {
                showSticker(86);
            });
        </script>
        <script>
            $(function () {
                $("#dob").datepicker({
                    dateFormat: "yy-mm-dd"
                });
            });
        </script>

        <script type="text/javascript">
            function removeStick() {
                sessionStorage.setItem("stickRemove", 1);
                $(".footer-stick-right").hide();
            }

            $(document).ready(function () {
                if (sessionStorage.getItem("stickRemove")) {
                    $(".footer-stick-right").hide();
                } else {
                    $(".footer-stick-right").show();
                }
            });
        </script>

        <script type="text/javascript">
            function convertDateInput() {
                var dobInput = document.getElementById("UserModel_Dob");
                var dobValue = dobInput.value;
                var parts = dobValue.split("-");
                var date = new Date(parts[0], parts[1] - 1, parts[2]);
                dobInput.value = date.toISOString().split('T')[0];
            }
            document.getElementById("registerForm").addEventListener("submit", function (event) {
                convertDateInput();
            });
        </script>

        <script>
            $(document).ready(function () {
                //Lấy tỉnh thành
                $.getJSON('https://esgoo.net/api-tinhthanh/1/0.htm', function (data_tinh) {
                    if (data_tinh.error == 0) {
                        $.each(data_tinh.data, function (key_tinh, val_tinh) {
                            $("#SystemCityID").append('<option value="' + val_tinh.id + '">' + val_tinh.full_name + '</option>');
                        });
                        $("#SystemCityID").change(function (e) {
                            var idtinh = $(this).val();
                            console.log(idtinh)
                            $('input[name="tinh"]').val($('#SystemCityID option:selected').text());
                            console.log($('input[name="tinh"]').val($('#SystemCityID option:selected').text()));

                            //Lấy quận huyện
                            $.getJSON('https://esgoo.net/api-tinhthanh/2/' + idtinh + '.htm', function (data_quan) {
                                if (data_quan.error == 0) {
                                    $("#SystemDistrictID").html('<option value="0"></option>');
                                    $("#SystemCommuneID").html('<option value="0"></option>');
                                    $.each(data_quan.data, function (key_quan, val_quan) {
                                        $("#SystemDistrictID").append('<option value="' + val_quan.id + '">' + val_quan.full_name + '</option>');
                                    });
                                    //Lấy phường xã
                                    $("#SystemDistrictID").change(function (e) {
                                        var idquan = $(this).val();


                                        $('input[name="huyen"]').val($('#SystemDistrictID option:selected').text());
                                        console.log($('input[name="huyen"]').val($('#SystemDistrictID option:selected').text()))
                                        $.getJSON('https://esgoo.net/api-tinhthanh/3/' + idquan + '.htm', function (data_phuong) {
                                            if (data_phuong.error == 0) {
                                                $("#SystemCommuneID").html('<option value="0"></option>');
                                                $.each(data_phuong.data, function (key_phuong, val_phuong) {
                                                    $("#SystemCommuneID").append('<option value="' + val_phuong.id + '">' + val_phuong.full_name + '</option>');
                                                });
                                            }
                                            $("#SystemCommuneID").change(function (e) {
                                                $('input[name="xa"]').val($('#SystemCommuneID option:selected').text());

                                                console.log($('input[name="xa"]').val($('#SystemCommuneID option:selected').text()))
                                            });
                                        });
                                    });

                                }
                            });
                        });

                    }
                });
            });
        </script>

    </div>
</body>
</html>
