main {
    background-color: #f5f5fa;
}
section {
    font-family: Inter, Helvetica, Arial, sans-serif;
    /*color: rgb(120, 120, 120);*/
   
}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid-contain {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 140.150px;
    grid-gap: 56px 28px;
}

.name-contain {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.btn-contain button {
    border: none;
    border-radius: 3px;
    color: white;
}

    .btn-contain button:first-child {
        padding: 2.5px 10px;
        margin-right: 7px;
        border: 1px solid rgb(209 2 103);
        color: rgb(255, 255, 255);
        background: rgb(236 52 52);
        height: 31px;
        font-size: 12px
    }

    .btn-contain button:nth-child(2) {
        padding: 2.5px 10px;
        color: #4a4a4a;
        border: 1px solid rgb(204, 204, 204);
        margin-right: 7px;
        touch-action: manipulation;
        cursor: pointer;
        /* user-select: none; */
        padding: 6px 14px;
        text-align: center;
        white-space: nowrap;
        border-radius: 2px;
        outline-color: rgb(204, 204, 204);
        background: linear-gradient(rgb(255, 255, 255), rgb(247, 247, 247));
        height: 31px;
        font-size: 12px;
    }

    .btn-contain button:nth-child(3) {
        padding: 2.5px 10px;
        color: #4a4a4a;
        border: 1px solid rgb(204, 204, 204);
        margin-right: 7px;
        touch-action: manipulation;
        cursor: pointer;
        /* user-select: none; */
        padding: 6px 14px;
        text-align: center;
        white-space: nowrap;
        border-radius: 2px;
        outline-color: rgb(204, 204, 204);
        background: linear-gradient(rgb(255, 255, 255), rgb(247, 247, 247));
        height: 31px;
        font-size: 12px;
    }

.address-contain {
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

.new-address {
    margin-top: 20px;
}

.title {
    font-size: 15px;
    font-weight: bold;
    margin-top: 20px;
}

.choose-address {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.1;
}

.name-contain div:first-child {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 5px;
}

.name-contain div:last-child {
    font-size: 11px;
    color: rgb(153 0 66);
}

.address-detail {
    font-size: 13px;
    margin-bottom: 7px;
}

.phone {
    font-size: 13px;
    margin-bottom: 10px;
}

.address-contain {
    border: 1px solid rgb(204, 204, 204);
}

    .address-contain.active {
        border: 1px dashed #b2003b;
    }
.new-address span {
    color: #ec3434;
    cursor:pointer;
}